
<section class="user">
  <div class='userRow'>
      <div class='columnRow'>
        <img v-bind:src='avatar'>
      </div>
      <div class='columnRow'>
        <h1>{{firstName + ' ' + lastName}}</h1>
      </div>
  </div>
</section>

