.user {
    margin-top: 5px;
    border: solid black 1px;
    border-radius: 4px;
}

.userRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.userColumn {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}