 <template>
    <div>
        <form @submit.prevent="handleSubmit()">
            <ValidationProvider ref="email" rules="email" v-slot="{ errors }">
                <input v-error:[isEmailValid]="isEmailValid" ref="validator" v-model="email" type="text" style="border: solid black 1px">
                <span>{{ errors[0] }}</span>
            </ValidationProvider>
            <button>Enter</button>
        </form>
    </div>
 </template>

<script lang="js">
export default {
  data: function() {
    return {
      email: "",
      isEmailValid: false
    };
  },
  methods: {
      handleSubmit() {

        if(this.isEmailValid) {
          alert('submitted')
        }
      }
  },
  watch: {
    email: function() {

        this.$refs.email.validate()
        .then(_value => this.isEmailValid = _value.valid)
    }
  },
  directives: {
    error: {
      update: function(el, binding, vnode) {

        console.log(binding.value)

        if(!binding.value) {
          el.style.backgroundColor = "red"
        } else {
          el.style.backgroundColor = "green"
        }
      }
    }
  }
}
</script>
