<template>
  <div class="home">
    <img style="width: 42px;" alt="Vue logo" src="../assets/logo.png">
    <!-- <HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/> -->
    <div class="customColumn">
      <Referee ref="referee" v-on:onrefsignal="onStart($event)" 
               v-on:onreset="onReset($event)" 
               msg="Hi, I'm the referee"
               v-bind:results="resultPlayer1+'-'+resultComputer"
               v-bind:reset="isReset"/>
      <div class="customRow">
        <Player1 ref="player1" v-bind:msg="msgPlayer1" 
                 v-on:onfinish="onDone($event)" 
                 v-bind:reset="isReset" class="customPlayer"/>
        <Computer ref="computer" v-bind:msg="msgComputer"
                  v-on:onfinish="onDone($event)" 
                  v-bind:reset="isReset"/>
      </div>
      <Fan></Fan>
    </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Referee from '@/components/Referee.vue'; // @ is an alias to /src
import Player1 from '@/components/Player1.vue'
import Computer from '@/components/Computer.vue'
import Fan from '@/components/Fan.vue'

@Component({
  components: {
    Referee,
    Player1,
    Computer,
    Fan
  },
})
export default class Home extends Vue {

  defMsgPlayer1: string = 'Hi, I\'m the player1';
  defMsgComputer: string = 'Hi, I\'m the computer';

  msgPlayer1= this.defMsgPlayer1;
  msgComputer = this.defMsgComputer;

  resultPlayer1: string = '';
  resultComputer: string = '';

  isReset: boolean = false;

  mounted() {

    //console.log(this.$refs['computer']);
  }

  onStart(e: any) {
    
    this.msgPlayer1 = 'Action...';
    this.msgComputer = 'Action...';

    (this.$refs['player1'] as Player1).startGame();
    (this.$refs['computer'] as Computer).startGame();
  }

  onReset(e: any) {
    
    this.msgPlayer1= this.defMsgPlayer1;
    this.msgComputer = this.defMsgComputer;

    //this.isReset = true;
    (this.$refs['player1'] as Player1).resetValue();
    (this.$refs['computer'] as Computer).resetValue();
    (this.$refs['referee'] as Referee).resetValue();
  }

  onDone(e: any) {

    this.msgPlayer1 = 'Done';
    this.msgComputer = 'Done';

    if (e.player === 'player1') {

      this.resultPlayer1 = e.result;
    } else if (e.player === 'computer') {

       this.resultComputer = e.result;
    }
  }
}
</script>

<style scoped lang="scss">
  .customRow {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding-right: 10px;
  }
  .customColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 10px;
  }
  .customPlayer {
    margin-right: 10px;
  }
</style>
