<template>
  <div>
    <v-card class="mx-auto" max-width="344" outlined>
      <v-card-title>Computer</v-card-title>
      <v-card-text>{{msg}}</v-card-text>      
      <v-card-text>{{result}}</v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component
export default class Computer extends Vue {
  @Prop() private msg!: string;
  @Prop() private reset!: boolean;

  choices: Array<string> = ['PIERRE', 'FEUILLE', 'CISEAUX', 'et...'];
  result: string = '';

  //@Watch('reset')
  resetValue() {

    //if (this.reset) {

      this.result = '';
    //}
  }

  //@Watch('msg')
  startGame() {

    this.result = '';
 
    //if(this.msg === 'Action...') {

      let ischoiceDone = false;
      let choicesTmp = [...this.choices];

      const id = setInterval(() => {

        if (choicesTmp.length === 0 && !ischoiceDone) {

          this.result = this.choices[this.getRandomInt(3)];     
          ischoiceDone = true;             
          this.$emit('onfinish', {player: 'computer', result: this.result});
          
        } else if (choicesTmp.length !== 0 && !ischoiceDone) {

          this.result = choicesTmp.shift() as string;  
        }    
      }, 1000);  
    //}      
  }

  getRandomInt(max: number) {
    return Math.floor(Math.random() * Math.floor(max));
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
