<template lang="html">

    <v-card class="mx-auto" max-width="344" outlined>
      <v-card-title>Fan</v-card-title>
      <v-card-text>{{msg}}</v-card-text>
    </v-card>
  </div>

</template>

<script lang="js">
  export default  {
    name: 'src-components-fan',
    props: [],
    mounted() {
      
      this.$store.subscribe((mutation, state) => {

        if(state.winner === 'Player1') {
          this.msg = "Player1 i love you!!!"
        } else if (state.winner === 'Computer') {
          this.msg = "Boooooo computer!!!!!!"
        } else {
          this.msg = 'I\'am a hooligan!!!!!!'
        }
      });
    },
    data() {
      return {
        msg: "I'am a hooligan!!!!!!"
      }
    },
    methods: {

    },
    computed: {

    },
    watch: {

    }
}
</script>

<style scoped lang="scss">
  .src-components-fan {

  }
</style>
