<template>
  <div>
    <v-card class="mx-auto" max-width="344" outlined>
      <v-card-title>Referee</v-card-title>
      <v-card-text>{{msg}}</v-card-text>
      <v-card-text>{{label + ' ' + winner}}</v-card-text>
      <v-card-actions>
        <v-btn v-on:click="onStart($event)" text>Start</v-btn>        
        <v-btn v-on:click="onReset($event)" text>Reset</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component
export default class Referee extends Vue {
  @Prop() private msg!: string;
  @Prop() private results: any;
  @Prop() private reset!: boolean;

  label: string = '';
  winner: string = '';

  resultsTab = [
    { result: 'PIERRE-FEUILLE', winner: 'Player1'},
    { result: 'PIERRE-CISEAUX', winner: 'Player1'},
    { result: 'FEUILLE-PIERRE', winner: 'Computer'},
    { result: 'FEUILLE-CISEAUX', winner: 'Computer'},
    { result: 'CISEAUX-PIERRE', winner: 'Computer'},
    { result: 'CISEAUX-FEUILLE', winner: 'Player1'},
    { result: 'FEUILLE-FEUILLE', winner: 'Egalité'},
    { result: 'PIERRE-PIERRE', winner: 'Egalité'},
    { result: 'CISEAUX-CISEAUX', winner: 'Egalité'},
  ]

  onStart(e: any) {

    this.$emit('onrefsignal', 'referee gives signal');
  }

  onReset(e: any) {

    this.$emit('onreset', 'referee asks for reset');
  }

  //@Watch('reset')
  resetValue() {

    //if (this.reset) {

      this.winner = '';
      this.label = '';
    //}
  }

  @Watch('results')
  getResults() {

    if (!!this.results && this.results.includes('-')) {

      this.resultsTab.forEach(element => {
        
        if (element.result === this.results) {

          this.winner = element.winner;
          this.label = 'And the winner is:';
        }
      });
    } else {

      this.winner = '';
      this.label = '';
    }

    this.$store.dispatch('winner', this.winner);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
