
<section class="users-list">
  <input class="usersListFilter" v-model='nameFilter' placeholder="Rechercher utilisateur">
  <div v-for="user in usersToFilter">
    <User v-bind:firstName="user.first_name"
          v-bind:lastName="user.last_name"
          v-bind:avatar="user.avatar">
    </User>
  </div>
</section>

